<h1>Index of Genres</h1>

<ul>
  <% @genres.sort.each do |g| %>
    <li><%= link_to g.name, g %></li>
  <% end %>
</ul>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to 'Add New Genre', new_genre_path, class: "button" %>
  </section>
<% end %>
